   // paralax


    .background-static {
      position: relative;
      display: flex;
      justify-content: center;
      vertical-align: middle;
      align-items: center;
      height: 290px;
    }

    .image-wrapper {
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;
    }

   
    .smile {
    object-position: 100% 100%
       z-index: -1;
   }

   
    .small {
      transform: scale(0.4);
    }

//end parallax
