    // paralax


    .background-static {
      position: relative;
      display: flex;
      justify-content: center;
      vertical-align: middle;
      align-items: center;
      height: 100vh;
    }

    .image-wrapper {
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    img {
      height: 1080px;
      width: 1080px;
      object-fit: none;
      object-position: 0 0;
    }

    .smile {
     object-position: 100% 100%;
   }

    .meh {
     object-position: 0 0;
    }

    .scrollable {
      position: relative;
      background: white;
      margin-top: -25vh;
    }

    .small {
      transform: scale(0.4);
    }

//end parallax
