   // paralax

#wrapper {
    position:fixed;
    height:100%;
    width:100%;
}

.panels {
    position:relative;
    height:100%;
    min-height:100%;
    width:100%;
}

#a{
   background:#eee;
       top:0;
}
  
//end parallax

